<h1>Create a New Routine!</h1>
<p>
  <%= form_for @routine do |f| %> 
    <div>
        Name your routine: <%= f.text_field :name %><br>
    </div>
    <% if params[:product_id] %>
        <%= f.hidden_field :product_id, value: @product.id %>
    
    <% else %>
        <p>Choose a product that you already have: </p>
        <div>
            <%= f.collection_select :product_id, current_user.products, :id, :name %>
        </div>
        
        <p>Or Add One! </p>
            <%= f.fields_for :product, @product do |p| %>
                <%= p.label :name %>
                <%= p.text_field :name %><br>
                <%= p.label :active_ingredient_1 %>
                <%= p.text_field :active_ingredient_1 %><br>
                <%= p.label :active_ingredient_2 %>
                <%= p.text_field :active_ingredient_2 %>
            <% end %>
    <% end %>
    <br>
    <%= f.submit %>
  <% end %>
</p>